In [9]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
from sklearn.preprocessing import scale
from sklearn.preprocessing import StandardScaler
from sklearn import model_selection
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import neighbors
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,classification_report
from sklearn import metrics

In [10]:
from warnings import filterwarnings
filterwarnings('ignore')

In [11]:
df=pd.read_csv('./covid19_dataset.csv')
df=df.fillna(df.mean())
y=df["INTUBATION"]
z=df["INTENSIVE CARE"]
ID=df["ID"]
X=df.drop(["INTUBATION","INTENSIVE CARE","ID"],axis=1)

In [12]:
df["INTUBATION"].value_counts()

NO     1350
YES      89
Name: INTUBATION, dtype: int64

In [13]:
df["INTENSIVE CARE"].value_counts()
df.head()

,ID,HEIGHT,WEIGHT,INTENSIVE CARE,INTUBATION,WBC 1,NE# 1,LY# 1,MO# 1,EO# 1,...,SEDIM 1,PT 1,APTT 1,INR 1,D-DIMER 1,FIBRINOGEN 1,PROCALCITONIN 1,IgA 1,IgM 1,IgG 1
0,1,164.580078,74.953488,NO,NO,9.08,5.27,2.99,0.55,0.21,...,0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0
1,2,174.000000,87.000000,NO,NO,11.31,7.86,2.81,0.48,0.12,...,0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0
2,4,182.000000,93.000000,NO,NO,12.42,7.05,4.16,0.90,0.25,...,0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0
3,6,164.580078,74.953488,NO,NO,8.19,5.25,2.03,0.53,0.29,...,0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0
4,12,164.580078,74.953488,NO,NO,9.56,7.25,0.94,1.08,0.25,...,0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0

## INTUBATION

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25,random_state=42)

In [15]:
rf_model = GradientBoostingClassifier(random_state=42).fit(X_train, y_train)

In [16]:
rf_model

GradientBoostingClassifier(random_state=42)

## Model Tuning

In [17]:
rf_params={"max_depth":[5,8,10],
          "max_features":[2,5,10],
          "n_estimators":[200,500,1000,2000],
          "min_samples_split":[2,10,80,100]}

In [18]:
rf_cv_model=GridSearchCV(rf_model,rf_params, cv=10,n_jobs=-1,verbose=2).fit(X_train,y_train)

Fitting 10 folds for each of 144 candidates, totalling 1440 fits